<h2> Booking Details </h2>

<p> User: <%= @booking.user.name %>
<p> Start Date: <%= @booking.start_date %>
<p> End Date: <%= @booking.end_date %>
<p> Created At: <%= @booking.created_at %>
<p> Updated At (if applicable): <%= @booking.updated_at %>

<p> Total Booking Revenue: <%= @booking.revenue %></p>
