
<div class="container white-box">

<%= form_for [@user,@booking] do |f| %>
  <%= f.collection_select :car_id, Car.all, :id, :name, :prompt => true, selected: @car.id %><br><br>

  <%= f.label :start_date, "Start" %>
  <%= f.date_field :start_date, min: Date.today %><br><br>

  <%= f.label :end_date, "End" %>
  <%= f.date_field :end_date, min: Date.today %><br><br>

  <%= f.hidden_field :user_id, :value => @user.id %>

  <%=f.submit class: "btn btn-success" %>

<% end %>

</div>
