<%= form_for @booking do |f| %>

  <h4>Select Your Vehicle:</h4>
  <h4><%= f.collection_select(:car_id, Car.all, :id, :name) %></h4>

  <%= f.label :start_date, "Start Date" %><br>
  <%= f.date_field :start_date %><br><br>

  <%= f.label :end_date, "End Date" %><br>
  <%= f.date_field :end_date %><br><br>

  <%= f.submit "Create" %>

<% end %>
