
<h1>Edit this booking</h1>

<h3><%=@booking.car.name%> from <%= @booking.start_date %> to <%= @booking.end_date %> </h3>

<%= form_for @booking, :url => url_for(:controller => "bookings", :action => "update") do |f| %>

  <%= f.label :start_date, "Start" %>
  <%= f.date_field :start_date %><br>

  <%= f.label :end_date, "End" %>
  <%= f.date_field :end_date %><br>

  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :car_id, :value => @booking.car.id %>

  <%=f.submit %>

<% end %>

<br><br>

<%= link_to 'Delete', user_booking_path(@user, @booking),
          data: {:confirm => 'Are you sure?'}, :method => :delete %>
