
<%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h4>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h4>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.label :name, "Username:" %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :email, "Email:" %><br>
    <%= f.text_field :email %><br><br>

    <%= f.label :admin, "Check box if you're an owner." %>
    <%= f.check_box :admin, class: "form-check-input" %><br><br>

    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password %><br>

    <%= f.submit %>

<% end %>
