<h2>Welcome!</h2>
  <h4> Available Cars </h4>
  <br>
    <div>
    <button class="col" data-id="<%= Car.first.id %>" id="js-previous"> Previous Car </button>
      <div class="col" id="car-details">
        <p><strong><%= Car.first.name %></strong> </p>
        <p>Top Speed: <%= Car.first.top_speed %></p>
        <p>Range Rer Charge (km):<%= Car.first.range%></p>
        <p>Charge Time (hrs):  <%= Car.first.charge_time %></p>
        <p>Price Per Day (USD): <%= Car.first.price_per_day %> </p>
      </div>
    <button class="col" data-id="<%= Car.first.id %>" id="js-next"> Next Car </button>
    </div>

    <br><button class="center" id="book-car">Book This Car!</button>

    <div id="book-this-car">
    </div>
