
    <%=flash[:message]%>

    <div class="container">
      <h4>Welcome to E-Cars Rentals!</h4>
      <br>
      <h5> Available Cars </h5>
      <button class="btn btn-info" data-id="<%= Car.first.id %>" id="js-previous"> Previous Car </button>
      <button class="btn btn-info" data-id="<%= Car.first.id %>" id="js-next"> Next Car </button><br><br>
        <div class="white-box" id="car-details">
            <p><strong><%= Car.first.name %></strong> </p>
            <p>Top Speed: <%= Car.first.top_speed %></p>
            <p>Range Rer Charge (km):<%= Car.first.range%></p>
            <p>Charge Time (hrs):  <%= Car.first.charge_time %></p>
            <p>Price Per Day (USD): <%= Car.first.price_per_day %> </p>
        </div>
    </div>

    <div class="container">
      <br><button class="btn btn-success" id="book-car" data-toggle="modal" data-target="#myModal">Book This Car!</button>
    </div>

  <div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
        <div class="container">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Book a Car</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div id="book-this-car">
              </div>
              <div id="edit-this-booking">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  <div class="container">
    <br><button class="btn btn-success" id="view-edit-bookings">View/Edit Bookings</button>
  </div>

  <div class="container">
    <br>
      <div id="bookings">
    </div>
  </div>
