<h2>Welcome!</h2>
  <% if @user.admin %>
    <%= link_to "Admin Access", admin_home_index_path(:user_id => session[:user_id]) %>
  <% end %>
  <% @user = User.find_by_id(session[:user_id]) %>
  <% if @user.bookings.empty? %>
     <p>You do not have any bookings! Browse and book below! </p>
  <% elsif @user.bookings%>
      <h4>Current Bookings</h4>
        <ul>
          <% @user.bookings.each do |booking| %>
            <li>
            <%= link_to "#{booking.car.name} from #{booking.start_date} to #{booking.end_date}", [:edit, @user, booking] %>
          </li>
        <% end %>
      </ul><br>
  <% end %>

  <h4> Available Cars </h4>

  <br>
    <div>
    <button class="col" data-id="<%= Car.first.id %>" id="js-previous"> Previous Car </button>
      <div class="col" id="car-details">
        <p><strong><%= Car.first.name %></strong> </p>
        <p>Top Speed: <%= Car.first.top_speed %></p>
        <p>Range Rer Charge (km):<%= Car.first.range%></p>
        <p>Charge Time (hrs):  <%= Car.first.charge_time %></p>
        <p>Price Per Day (USD): <%= Car.first.price_per_day %> </p>
      </div>
    <button class="col" data-id="<%= Car.first.id %>" id="js-next"> Next Car </button>
    </div>

    <br><button class="center" id="book-car">Book Car!</button>

    <div id="book-now">
      
    </div>
