
<%# will need to show all bookings available to the user
here.

Check the lab on nested resources to implement %>
<!--
<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

-->
<h1>Welcome, <%= @user.name %>!</h1>
  <% if @user.admin %>
    <p><strong>ADMIN</strong></p>
  <% end %>
  <p><strong>Contact Email: </strong><%= @user.email %>
  <br>
  <br>
  <% if !@user.bookings.empty? %>
    <h4>Current Bookings</h4>
    <ul>
      <% @user.bookings.each do |booking| %>
        <li>
        <%= link_to "#{booking.car.name} from #{booking.start_date} to #{booking.end_date}", [:edit, @user, booking] %>
      </li>
    <% end %>
    </ul><br>
    <h4><%= link_to 'Book another car now!', cars_path %></h4>
  <% else %>
    <h4><%= link_to 'Book your first car now!', cars_path %></h4>
  <% end %>
  <br>
  <br>
  <p><%= link_to 'Edit Contact Details', edit_user_path(@user) %></p>
  <p><%= link_to 'Log Out', "/logout" %></p>
