<h1>Car List</h1>
<table class="table">
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th align = "left"><%= sort_link "name" %></th> <!-- this will be where the sort-links will be-->
      <th><%= sort_link "price_per_day" %></th>
      <th><%= sort_link "top_speed" %></th>
      <th><%= sort_link "range" %></th>
      <th><%= sort_link "charge_time" %></th>
      <th><%= sort_link ""%> </th>
    </tr>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %>
        <td align="center">$<%= car.price_per_day %></td>
        <td align="center"><%= car.top_speed %></td>
        <td align="center"><%= car.range %></td>
        <td align="center"><%= car.charge_time %></td>
        <td align="center"><%= link_to "Book", new_user_booking_path(:user_id => session[:user_id], :car_id => car.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
