
    <p><strong>Name:</strong> <%= @car.name %></p>
    <p><strong>Top Speed:</strong> <%= @car.top_speed %> km/hr </p>
    <p><strong>Range:</strong> <%= @car.range %> km</p>
    <p><strong>Charge Time:</strong> <%= @car.charge_time %> hours</p>
    <p><strong>Price (per Day): </strong>$ <%= @car.price_per_day %> </p>

    <% if current_user.admin %>
          <%= link_to 'Edit Car Details', [:edit, @car] %></p>
    <% else %>
      <p> Select Your Dates: </p>
      <form action="/bookings/new" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <p>Start: </p>
        <%= date_field_tag 'start_date' %><br>
        <p>End: </p>
        <%= date_field_tag 'end_date' %>
        <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
        <%= tag(:input, :type => "hidden", :name => :car_id, :value => @car.id) %> <br><br>
        <input class="btn btn-light" type="submit" value="Book now!">
      </form>
    <% end %><br>
    <%= link_to 'Back', cars_path, class: "btn btn-primary btn-light" %></p>
  </div>
</div>
