<ul>
    <li><p><Name: <%= @car.name %></p></li>
    <li><p>Top Speed: <%= @car.top_speed %> km/hr </p></li>
    <li><p>Range: <%= @car.range %> km </p></li>
    <li><p>Charge Time: <%= @car.charge_time %> hrs </p></li>
    <li><p>Price (per Day): $<%= @car.price_per_day %> </p></li>
</ul>
