<p><strong>Name:</strong> <%= @car.name %></p>
<p><strong>Top Speed:</strong> <%= @car.top_speed %> km/hr </p>
<p><strong>Range:</strong> <%= @car.range %> km</p>
<p><strong>Charge Time:</strong> <%= @car.charge_time %> hours</p>
<p><strong>Price (per Day): </strong>$ <%= @car.price_per_day %> </p>

<%= render "bookings/form" %>

<p><%= link_to 'Back', cars_path, class: "btn btn-primary btn-light" %></p>
