<p> You've successfully added the <%= @car.name %>. Confirming details below:</p>

<ul>

    <li><p>Top Speed: <%= @car.top_speed %> km/hr </p></li>
    <li><p>Range: <%= @car.range %> km </p></li>
    <li><p>Charge Time: <%= @car.charge_time %> hrs </p></li>
    <li><p>Price (per Day): $<%= @car.price_per_day %> </p></li>

</ul>

<%= link_to "Back to Profile", user_path(session[:user_id]) %>
