<!DOCTYPE html>
<html>
  <head>
    <title>E-Cars Rental Service</title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong> |
        <%= link_to "Sign out", signout_path, id: "sign_out" %><br><br>
        <%= link_to "Home", user_path(current_user)%> <br>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
